* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

h1 {
  font-size: 25px;
}

body {
  background-color: whitesmoke;
  min-height: 100vh;
}

header {
  padding: 1rem;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.logo img {
  width: 70px;
}

main {
  margin-top: 30px;
  padding: 30px 0;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.main textarea {
  border: 2px solid black;
  border-radius: 3px;
}

.send-btn {
  padding: 10px;
  background: whitesmoke;
  border: 2px solid black;
  border-radius: 7px;
  text-align: center;
  transition: 0.4s ease-out linear;
}

.send-btn:hover {
  background-color: grey;
  color: wheat;
  scale: 1.1;
}

.footer {
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.github-logo {
  width: 30px;
}

.twitter-logo {
  width: 20px;
}

@media (max-width: 767px) {
  header, main, footer {
    text-align: center;
  }
  .logo {
    flex-direction: column;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  header, main, footer {
    text-align: center;
  }
  .logo {
    flex-direction: row;
  }
}

@media (min-width: 1024px) {
  header, main, footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .logo {
    flex-direction: row;
  }
  .main {
    flex-direction: column;
  }
  .main textarea {
    width: 400px;
  }
}